@font-face {
    font-family: Effra;
    src: url("Effra.ttf");
 }
    


h1{
    position: absolute;
    width: 155px;
    height: 76px;
    left: 681px;
    top: 120px;
    font-family: Effra;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 76px;
/* identical to box height */


color: #5A6E81;
}



form{
margin-left: 461px;
font-family: Effra;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;
color: #5A6E81;
margin-top:284px;
margin-bottom:0px;
}
.textBox{
   
position: absolute;
width: 594px;
height: 66px;
left: 461px;
top: 327px;
margin-bottom: 100px;

font-family: Effra;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;

}
h2{
    font-family: Effra;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;
}
.textBox_2{
   
    position: absolute;
    width: 594px;
    height: 66px;
    left: 461px;
    top: 440px;
    margin-bottom: 100px;
    
    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    border: 1px solid #000000;
box-sizing: border-box;
border-radius: 15px;
    
    }
    .submitBox
{
    position: absolute;
    width: 340px;
    height: 54px;
    left: 588px;
    top: 579px;
    
    background: #24517A;
    border: 1px solid #24517A;
    box-sizing: border-box;
    border-radius: 30px;

    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    text-decoration: none;
    
    color: white;
    text-align: center;
}
.subTxt{
    position: absolute;
    width: 84px;
    height: 38px;
    left: 716px;
    top: 585px;
    
    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    text-decoration: none;
    
    color: white;
}
.textBox{
   
    position: absolute;
    width: 594px;
    height: 66px;
    left: 461px;
    top: 327px;
    margin-bottom: 100px;
    
    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    border: 1px solid #000000;
box-sizing: border-box;
border-radius: 15px;
    
    }
  .signUptext{
    position: absolute;
    width: 624px;
    height: 43px;
    left: 461px;
    top: 656px;
    
    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    /* identical to box height */
    
    
    color: #5A6E81;
  }