@font-face {
    font-family: Effra;
    src: url("Effra.ttf");
 }

 .ul {
  list-style-type: none;
  width: 783px;
  height: 67px;
  margin-left: 607px;
  top: 22px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  
}

.li {
  float: left;
}

.li a {
  font-family: Effra;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  display: block;
  color: #5A6E81;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


header{
  position: absolute;
width: 319px;
height: 76px;
left: 56px;
top: 104px;

font-family: Effra;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 76px;
/* identical to box height */


color: #5A6E81;
}
.text_2{
    
  font-family: Effra;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #5A6E81;
  line-height:30px;
  
  margin-top:40px;
  text-align:center;
  
  
  
  }
  .text{
    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    text-align:center;
    margin-top:110px;
    color: #5092CF;
    
  }
  .submit{
    position: absolute;
    width: 340px;
    height: 54px;
    left: 574px;
    top: 579px;
    
    background: #24517A;
    border: 1px solid #24517A;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    text-align: center;
    color:white;
    
  }
  