@font-face {
  font-family: Effra;
  src: url("Effra.ttf");
}

html,
body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: Effra;
  line-height: 1.6;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 50px;
  text-align: left;
}

.signUp{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */


  color: rgb(8, 73, 95);
}

.signUpSubForm{
  margin-left: 115px; 
  text-align: left;
  font-family: Effra;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: rgb(8, 73, 95);
}

.textBox{
  width: 594px;
  height: 66px;
  margin-bottom: 12px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: Effra;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
}
.details {
  font-size: 18px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

h3 {
  text-align: left;
}

p {
  text-align: left;
  margin-left: 30px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(8, 73, 95);
}

a:active {
  color: rgb(8, 73, 95);
}

.current {
  color: rgb(8, 73, 95);
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.left {
  text-align: left;
  margin-left: 30px;
}

.center {
  text-align: center;
}

.rectangle {
  border: 1px solid rgb(8, 73, 95);
  box-sizing: border-box;
  border-radius: 15px;
}

.dropdownLabel {
  font-family: Effra;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 43px;
  text-align: left;
  margin-left: 30px;
}

.display_area{

  box-sizing: border-box;
  
  font-family: Effra;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  
  
  color: #5A6E81;
  
  
  }

button {
  width: 500px;
  height: 50px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: white;
  font-family: Effra;
  font-size: 20px;

  border: 1px solid rgb(8, 73, 95);
  box-sizing: border-box;
  border-radius: 15px;
}

button:hover {
  background-color: rgb(8, 73, 95);
  color: white
}

.uploadText{
  font-size: 42px;
  margin-top: 20px;
  color: rgb(8, 73, 95);
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
  font-display: bold;
}


